{% form_theme form '@AsdoriaSyliusRetailerPlugin/Form/imagesTheme.html.twig' %}
{{ form_errors(form) }}
<div class="ui segment">
    {{ form_row(form.name) }}
    <div class="field" id="sylius_retailer_group_image">
        <label class="required"> {{ 'sylius.ui.image'|trans }}</label>
        {{ form_widget(form.image, {'label': false}) }}
    </div>
</div>
